<div class="full-background"></div>
<div class="card login-card" ng-controller="login_controller">
	<div class="login-logo" style="display: flex;justify-content: center;align-items: flex-end;width: 60%">
		{{>enduro_logo}}
		<div style="margin-left: .75rem;height: 2.1rem;">
			<span style="font-size: .75rem;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal; letter-spacing: normal;text-align: left;color: black;">English immersion with Joy</span></div>
	</div>
	<div class="card-body">

		<div>
			<h2>Login please:</h2>
			{{>login_message}}
			<div class="wedge-2x"></div>
			<p class="hidden lost-password-assistance">Looks like you are having issues logging in. Please contact the site's administrator.</p>
		</div>

		{{>login_form}}

		{{!-- {{>no-juicebox-warning}} --}}
		{{>no-user-warning}}

	</div>
</div>